html,
body {
  height: 100%;
}

.blog-header {
  line-height: 1;
  /*border-left: 4px solid #e5e5e5;*/
  /*border-right: 4px solid #e5e5e5;*/
  /*border-bottom: 4px solid #e5e5e5;*/
  margin:auto;
  background: #ffffff;
  height:70px
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem #8f8f8f;);
}

.blog-header-logo {
  /*font-family: "Playfair Display", Georgia, "Times New Roman", serif;*/
  font-size: 1.5rem;

}

.blog-header-logo:hover {
  text-decoration: none;
}

