{% extends "skeleton.html" %}
{% import "searchloginwtf.html" as wtf %}
{% block title %}Country Query{% endblock %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="css/floating-labels.css">
{% endblock %}

{% block scripts%}
{{super()}}
<script src="js/search.js"></script>
{% endblock %}

{% block content %}
<div class="form-query">
<div class="text-center container">
    <h1>Country Query</h1>
</div>

{{ wtf.slow_form(form,form_type='inline',horizontal_columns=('sm',4,4),button_map={'submit': 'primary'}) }}
</div>
{% endblock %}