{%  extends "headerbase.html" %}
{%  block title %}
  Restaurant Locator
{%  endblock %}
{% block styles %}
  {{ super() }}
  <link href="../css/googlemap.css" rel="stylesheet" type="text/css">
  <link href="../css/sidebar.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
{% endblock %}

{% block signinbutton %}
    <a class="btn btn-sm btn-secondary" href="/signin">Sign up & Log in</a>
{% endblock %}


{% block content %}
{{super()}}

<div class="map"></div>

{#<div class="container-fluid" id="failureAlert" style="display: none;">#}
{#  <div class="row alert alert-warning alert-dismissable">#}
{#    <div class="row">#}
{#      <div class="col-8 align-middle">Query returned no results.#}
{#      </div>#}
{#      <button class="col-4 btn btn-primary align-middle" type="button" onclick="document.location.href='/';">Go back</button>#}
{##}
{#    </div>#}
{##}
{#  </div>#}
{##}
{#</div>#}

{% block headerslot %}
<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
<i class="glyphicon glyphicon-align-left"></i>
<span>Toggle Sidebar</span>
</button>
{% endblock %}


{% endblock %}

{%block scripts%}
{{super()}}
<script src="js/search.js"></script>
<script src="js/yelpAPI.js"></script>
<script src="js/googlemaps.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsidkmuLavmoPyURZMxIyBZ0_lB4XqUAI&callback=initMap">
</script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/sidebar.js"></script>
{%endblock%}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock %}