{%  extends "headerbase.html" %}
{%  block title %}
  Restaurant Locator
{%  endblock %}
{% block styles %}
  {{ super() }}
  <link href="../css/googlemap.css" rel="stylesheet" type="text/css">
  <link href="../css/sidebar.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block signinbutton %}
  <a class="btn btn-sm btn-secondary" href="/signin">Sign up & Log in</a>
{% endblock %}


{% block content %}
  {{super()}}

  <div class="map"></div>
{% endblock %}


{% block headerslot %}
{{super()}}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning d-flex justify-content-between align-items-center">
  {{message}}
  <button type="button" class="btn btn-secondary text-center" data-dismiss="alert"> close</button>
</div>
{% endfor %}
{% endblock headerslot%}

{%block scripts%}
  {{super()}}
  {#  <script src="js/search.js"></script>#}
  <script src="js/yelpAPI.js"></script>
  <script src="js/googlemaps.js"></script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsidkmuLavmoPyURZMxIyBZ0_lB4XqUAI&callback=initMap">
  </script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/sidebar.js"></script>
{%endblock%}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock %}