{% extends "skeleton.html" %}
{% block header %}

  <header class="border-bottom box-shadow fixed-top blog-header py-4 ">
    <div class="row col-sm-12 flex-nowrap">
      <div class="col-sm-4 offset-sm-4 d-flex justify-content-center align-items-center">
        <a class="blog-header-logo text-dark" href="https://getbootstrap.com/docs/4.0/examples/blog/#">Find Retaurants</a>
      </div>
      <div class="col-sm-4 d-flex justify-content-end align-items-center">
{#        <a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/blog/#">#}
{#          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>#}
{#        </a>#}
        {% block signinbutton -%}
        {%- endblock %}
      </div>
    </div>

    </div>
  <ul class="nav">
    <li class="active"><a href="/">Home</a></li>
    {% if g.user.is_authenticated()%}
        <li><a href="/new">New Todo</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
    {% if not g.user.is_authenticated()%}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
  </ul>
  </header>
{% endblock %}

{% block styles %}
{{ super() }}
    <link href="/css/header.css" rel="stylesheet">
{% endblock %}