<div id="sidebar">
    <div class="sidebar-header">
      <h3>Restaurant Information</h3>
    </div>
    <div>
      <ul class="list-unstyled components">
        <p id="restname"></p>
        <li class="active">
          <a href="#restcategory" data-toggle="collapse" aria-expanded="false">Category</a>
          <ul class="collapse list-unstyled" id="restcategory">
{#            <li><a href="#">Home 1</a></li>#}
{#            <li><a href="#">Home 2</a></li>#}
{#            <li><a href="#">Home 3</a></li>#}
          </ul>
        </li>
        <li>
          <a href="#restlocation" data-toggle="collapse" aria-expanded="false">Location</a>
          <ul class="collapse list-unstyled" id="restlocation">
{#            <li><a href="#">Home 1</a></li>#}
{#            <li><a href="#">Home 2</a></li>#}
{#            <li><a href="#">Home 3</a></li>#}
          </ul>
        </li>
        <li>
          <img id="restimg"></img>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
        <li><button type="button" class="btn btn-large btn-default container-fluid download">I want to go</button></li>
      </ul>
    </div>
  </div>
    <button type="button" id="sidebar-toggle" class="justify-content-center btn half-circle">
      <i class="fas fa-chevron-right" style="color:white; margin-left:-5px"></i>
    </button>
  </div>
</div>
