{% extends "base.html" %}
{% import "searchloginwtf.html" as wtf %}
{% set signup=True%}


{% block title %}Find restaurants{% endblock %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="css/floating-labels.css">
{% endblock %}

{% block scripts%}
{{super()}}
<script src="js/search.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
{% for image in images: %}
<div class="row">
<img src="../img/{{ image.imgsrc }}" class="form-image align-self-center col-md-4" alt={{ image.alttext }} />
</div >
{% endfor %}
<div class="row">
{{ wtf.slow_form(form,form_type='inline',horizontal_columns=('sm',4,4),button_map={'submit': 'primary'}, search=True) }}
</div>
{% endblock %}