{% extends "headerbase.html" %}
{% import "searchloginwtf.html" as wtf %}
{% set signup=True%}


{% block title %}Find restaurants{% endblock %}

{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="css/floating-labels.css">
  <link href="../css/sidebar.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block scripts%}
  {{super()}}
  <script src="js/search.js"></script>
   <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/sidebar.js"></script>
{% endblock %}

{% block signinbutton %}
  <a class="btn btn-sm btn-secondary" href="/signin">Sign up & Log in</a>
{% endblock %}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock %}

{% block body %}
  <div class="wrapper">
    {{ super() }}
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">  {{ super() }}
  {% for image in images: %}
    <div class="row">
      <img src="../img/{{ image.imgsrc }}" class="form-image align-self-center col-sm-4" alt={{ image.alttext }} />
    </div >
  {% endfor %}
  <div class="row">
    {{ wtf.slow_form(form,action="/maps",form_type='inline',horizontal_columns=('sm',4,4),button_map={'search': 'primary'}, search=True
  ,method='GET') }}
  </div>


  <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="btn btn-info" aria-expanded="true" aria-controls="collapseExample">
      <span>Bootstrap toggle</span>
  </button>

  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
    <i class="glyphicon glyphicon-align-left"></i>
    <span>Toggle Sidebar</span>
  </button>

  </div>

{% endblock %}